<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ar.com.ingverger.sumado"
    versionCode = "10"
    version     = "1.0.0" >

	<!-- versionCode is optional and Android only -->

  <name>SUMADO</name>

  <description>
	SUMADO is a logic game. It is an opportunity for mental exercise and fun at the same time.
	What does it consist of?
	There is a set of circles joined by lines that form squares and triangles. The degree of difficulty of the game is fixed by the number of circles; They have been assigned numbers from 1 to 9 in the case of a SU-MA-DO of 3x3, from 1 to 16 for the case of SU-MA-DO of 4x4 and of 1 to 25 for the case of a SU 5x5-MA-OD. The number within each triangle or square is the sum of the circles of that figure. The object of the game is to deduce the values assigned to each circle. Some of these numbers are given as help. 
  </description>

  <author href="http://www.ingverger.com.ar/sumado.php" email="ingverger@gmail.com.com">
      Guillermo Verger
  </author>

  <platform name="android" />

</widget>